---
title: news
description: 
layout: default

---

<div class="post">
  <div style="float: right; width:230px">
        {% include twitter_sidebar.html %}
  </div>
  <div style="overflow: hidden;">
  <h1 class="post-title">{{ page.title }}</h1>
  <h5 class="post-description">{{ page.description }}</h5>
  

  {% for post in paginator.posts %}
  <hr>
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <p class="author">
    <span class="author"><a href="/team/index.html#{{post.author}}">{{post.author}}</a></span><br>
    <span class="date"><em>{{ post.date | date_to_long_string }}</em></span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}
<hr>

 <div>
  {% include pagination.html %}
  </div>
  </div>
</div>



