<footer class="site-footer">

<div class="bottom-banner light-blue">
	<div class="inner">
		<div>
			© 2024 The Regents of the University of California
		</div>
		
		<div class="nav">
			<ul class = "bottom-banner-menu">
				<li><a href = "mailto:decisionlab@ucsf.edu" target="_blank" rel="noopener noreferrer">Contact Us</a></li>
				<li><a href="https://www.ucsf.edu/accessibility-resources" target="_blank" rel="noopener noreferrer">Accessibility</a></li>
		        <li><a href="https://www.ucsf.edu/website-privacy-policy" target="_blank" rel="noopener noreferrer">Privacy Policy</a></li>
	    	    <li><a href="https://www.ucsf.edu/terms-of-use" target="_blank" rel="noopener noreferrer">Terms of Use</a></li>
	        	<li><a href="https://websites.ucsf.edu/azlist" target="_blank" rel="noopener noreferrer">A-Z Website List</a></li>
			</ul>
		</div>
	</div>
</div>

</footer>