<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ site.name }}{% if page.title and page.url != "/" %} | {{ page.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="google-site-verification" content="SuEx30jgTHD3NPDJbGwVGjO2gf9i_u53kPgwS7HlBIU" />

    
    <link rel="shortcut icon" href="{{ '/assets/img/favicon.ico' | prepend: site.baseurl | prepend: site.url }}">
    

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Include custom icon fonts -->
    <link rel="stylesheet" href="{{ '/assets/css/all.css' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="{{ '/assets/css/academicons.min.css' | prepend: site.baseurl | prepend: site.url }}">

    <script type="text/javascript">
        var MTUserId='d39f1f2d-a667-473b-8199-17b38df79f9b';
        var MTFontIds = new Array();
    
        MTFontIds.push("5664082"); // Neue Helvetica® W01 45 Light 
        MTFontIds.push("5664086"); // Neue Helvetica® W01 46 Light Italic 
        MTFontIds.push("5664110"); // Neue Helvetica® W01 76 Bold Italic 
        MTFontIds.push("5664149"); // Neue Helvetica® W01 75 Bold 
        (function() {
            var mtTracking = document.createElement('script');
            mtTracking.type='text/javascript';
            mtTracking.async='true';
            mtTracking.src='/assets/fonts/mtiFontTrackingCode.js';
    
            (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(mtTracking);
        })();
    </script>


    
</head>
