/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/* font loading with font events - from filament group https://github.com/filamentgroup/font-loading/blob/master/font-events.html */
@font-face{
    font-family:"decisionlab";
    font-style: normal;
    font-weight: 300;
    src:url("/assets/fonts/5664082/402325e6-bf3f-4d35-8511-8ee40d66aacb.eot?#iefix");
    src:url("/assets/fonts/5664082/402325e6-bf3f-4d35-8511-8ee40d66aacb.eot?#iefix") format("eot"),url("/assets/fonts/5664082/6e098adf-3e8e-4c9e-bc4e-6cfa9ce012cf.woff2") format("woff2"),url("/assets/fonts/5664082/cb014cd9-3d76-4507-ac6d-dcb4be6ff3b5.woff") format("woff"),url("/assets/fonts/5664082/c97118d9-dcf1-4b9e-9a8d-87b08f3a3620.ttf") format("truetype");
}
@font-face{
    font-family:"decisionlab";
    font-style: italic;
    font-weight: 300;
    src:url("/assets/fonts/5664086/5cf577a8-1804-480b-9b63-da3264521503.eot?#iefix");
    src:url("/assets/fonts/5664086/5cf577a8-1804-480b-9b63-da3264521503.eot?#iefix") format("eot"),url("/assets/fonts/5664086/e065686c-5af5-4d04-98bd-488f161e07b8.woff2") format("woff2"),url("/assets/fonts/5664086/61e00a4f-3745-4a16-93a4-e634379df280.woff") format("woff"),url("/assets/fonts/5664086/f4f9a562-1b35-4a6a-8d15-d4a3be3c49e9.ttf") format("truetype");
}
@font-face{
    font-family:"decisionlab";
    font-style: italic;
    font-weight: 600;
    src:url("/assets/fonts/5664110/5cf9ef0a-8f4c-4465-a50a-8ceacbc3356a.eot?#iefix");
    src:url("/assets/fonts/5664110/5cf9ef0a-8f4c-4465-a50a-8ceacbc3356a.eot?#iefix") format("eot"),url("/assets/fonts/5664110/f6c8aafc-dc40-411a-af09-3bd45220c1d4.woff2") format("woff2"),url("/assets/fonts/5664110/ab75cab0-ceb2-4891-b33e-bc4862da83f4.woff") format("woff"),url("/assets/fonts/5664110/bd4033c3-392f-4588-be81-a116b475836a.ttf") format("truetype");
}
@font-face{
    font-family:"decisionlab";
    font-style: normal;
    font-weight: 600;
    src:url("/assets/fonts/5664149/9697cfef-7816-47cc-81ed-c56c029d3bcf.eot?#iefix");
    src:url("/assets/fonts/5664149/9697cfef-7816-47cc-81ed-c56c029d3bcf.eot?#iefix") format("eot"),url("/assets/fonts/5664149/1f4274cd-2674-481e-9023-69e33ffca161.woff2") format("woff2"),url("/assets/fonts/5664149/5e8d493c-be01-44b9-962e-504a5cf10dd8.woff") format("woff"),url("/assets/fonts/5664149/ae36b4a0-aa2c-46cc-98d8-d8b7d22241dc.ttf") format("truetype");
}

/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

.fonts-loaded body {
    font-family: "decisionlab", $base-font-family;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: #007cbe;
    text-decoration: none;

    &:hover {
        color: #052049;
        text-decoration: none;
    }
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 1px;
    background-color: $grey-color;
    border: 0;
  }

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/**
 * Publications
 */
 .year {
    border-top: 1px solid $text-color;
    color: $text-color;
    margin: 0 -3em -2.5ex -2em;
    padding-top: 1ex;
    text-align: right;
    clear: both;
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
    max-width:         calc(800px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(800px - (#{$spacing-unit}));
        max-width:         calc(800px - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
