---
layout: default
---
<div class="post">

  {% if page.layout != "about" %}
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <h5 class="post-description">{{ page.description }}</h5>
  </header>
  {% else %}
  <header class="post-header">
    <h1 class="post-title" style="margin-bottom: -3px; margin-top: 20px">{{ page.title }}</h1>
    <div style="font-size: 1.52rem; color: #007cbe; line-height:90%">{{ page.description }}</div>
  </header>
  {% endif %}    

  <article class="post-content {{page.title}} clearfix">
    {{ content }}
  </article>

  {% if page.news %}
    {% include news.html %}
  {% endif %}

  {% if page.social %}
    {% include social.html %}
  {% endif %}

</div>
